<div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading">Admin Panel</div>
      <div class="list-group list-group-flush">
        <a routerLink='profile' class="list-group-item list-group-item-action bg-light">Profile</a>
        <a routerLink='articles' class="list-group-item list-group-item-action bg-light">Articles</a>
        <hr>
        <!-- <a routerLink="/main/profile" class="list-group-item list-group-item-action bg-light">Perfil</a>
        <a routerLink="/main/demo" class="list-group-item list-group-item-action bg-light">Productos</a>
        <a routerLink="/main/demo" class="list-group-item list-group-item-action bg-light">Historial de compras</a>
        <a routerLink="/main/boozka" class="list-group-item list-group-item-action bg-light">Boozka</a> -->
      </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

      <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <!-- <button class="btn btn-primary" id="menu-toggle">Toggle Menu</button> -->

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" 
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item active" style="margin-top: 8px">
              <p>{{email}}</p>
            </li>
            <li class="nav-item">
              <a class="nav-link" role="button" (click)="logout()" style="cursor: pointer">Logout</a>
            </li>
          </ul>
        </div>
      </nav>

      <div class="container-fluid" style="width: 100%; padding: 20px 0">
        <!-- <h1 class="mt-4">Simple Sidebar</h1> -->
        <!-- <p>The starting state of the menu will appear collapsed on smaller screens, and will appear non-collapsed on larger screens. When toggled using the button below, the menu will change.</p> -->
        <!-- <p>Make sure to keep all page content within the <code>#page-content-wrapper</code>. The top navbar is optional, and just for demonstration. Just create an element with the <code>#menu-toggle</code> ID which will toggle the menu when clicked.</p> -->
        <router-outlet></router-outlet>
      </div>
    </div>
    <!-- /#page-content-wrapper -->

  </div>





